@model UpdateProductVM
@{
	ProductImage main = Model.ProductImages.FirstOrDefault(pi => pi.IsPrimary == true);
	ProductImage hover = Model.ProductImages.FirstOrDefault(pi => pi.IsPrimary == false);
}

<div class="content-wrapper">
	<div class="row">
		<div class="col-lg-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<form class="forms-sample" method="post" enctype="multipart/form-data">
						<div class="form-group">
							<img style="width:170px;height:170px" src="~/assets/images/website-images/@main.ImageURL" />

							<div class="form-group">
								<label asp-for="MainPhoto">Main Image</label>
								<input accept="image/*" asp-for="MainPhoto" class="form-control" id="MainPhoto">
								<span class="text-danger" asp-validation-for="MainPhoto"></span>
							</div>
							<span class="text-danger" asp-validation-for="MainPhoto"></span>
						</div>
						<div class="form-group">
							<img style="width:170px;height:170px" src="~/assets/images/website-images/@hover.ImageURL" />


							<div class="form-group">
								<label asp-for="HoverPhoto">Hover Image</label>
								<input accept="image/*" asp-for="HoverPhoto" class="form-control" id="HoverPhoto">
								<span class="text-danger" asp-validation-for="HoverPhoto"></span>
							</div>
							<span class="text-danger" asp-validation-for="HoverPhoto"></span>
						</div>

						<div class="form-group d-flex">
							@foreach (ProductImage productImage in Model.ProductImages.Where(pi=>pi.IsPrimary==null))
							{
								<div class="position-relative">
									<img style="width:170px;height:170px" src="~/assets/images/website-images/@productImage.ImageURL" />
									<button style="width:50px; border-radius:50%; right:0;" class="cus-delete btn btn-danger position-absolute text-center"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><path d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z" /></svg></button>
									<input asp-for="ImageIds" type="hidden" value="@productImage.Id">
								</div>
							}
							<div class="form-group">
								<label asp-for="Photos">Additional Image</label>
								<input accept="image/*" multiple asp-for="Photos" class="form-control" id="Photos">
								<span class="text-danger" asp-validation-for="Photos"></span>
							</div>
						</div>
						<div class="form-group">
							<label asp-for="Name">Name</label>
							<input asp-for="Name" class="form-control" id="Name" placeholder="Name">
							<span class="text-danger" asp-validation-for="Name"></span>
						</div>
						<div class="form-group">
							<label asp-for="Price">Price</label>
							<input asp-for="Price" class="form-control" id="Price" placeholder="Price">
							<span class="text-danger" asp-validation-for="Price"></span>
						</div>
						<div class="form-group">
							<label asp-for="SKU">Order</label>
							<input asp-for="SKU" class="form-control" id="SKU" placeholder="SKU">
							<span class="text-danger" asp-validation-for="SKU"></span>
						</div>
						<div class="form-group">
							<label asp-for="Description">Description</label>
							<input asp-for="Description" class="form-control" id="Description" placeholder="Description">
							<span class="text-danger" asp-validation-for="Description"></span>
						</div>
						<div class="form-group">
							<label asp-for="CategoryId">Category</label>
							<select asp-for="CategoryId" asp-items="new SelectList(Model.Categories,nameof(Category.Id),nameof(Category.Name))" class="form-control">

							</select>
							<span class="text-danger" asp-validation-for="CategoryId"></span>
						</div>
						<div class="form-group">
							<label asp-for="TagIds">Tags</label>
							<select multiple asp-for="TagIds" asp-items="new SelectList(Model.Tags,nameof(Tag.Id),nameof(Tag.Name))" class="form-control">
							</select>
							<span class="text-danger" asp-validation-for="TagIds"></span>
						</div>
						<div class="form-group">
							<label asp-for="ColorIds">Colors</label>
							<select multiple asp-for="ColorIds" asp-items="new SelectList(Model.Colors,nameof(Color.Id),nameof(Color.Name))" class="form-control">
							</select>
							<span class="text-danger" asp-validation-for="ColorIds"></span>
						</div>
						<div class="form-group">
							<label asp-for="SizeIds">Sizes</label>
							<select multiple asp-for="SizeIds" asp-items="new SelectList(Model.Sizes,nameof(Size.Id),nameof(Size.Name))" class="form-control">
							</select>
							<span class="text-danger" asp-validation-for="SizeIds"></span>
						</div>
						<div class="form-group">
							<label asp-for="SellCount">SellCount</label>
							<input asp-for="SellCount" class="form-control" id="SellCount" placeholder="Sell Count">
							<span class="text-danger" asp-validation-for="SellCount"></span>
						</div>

						<button type="submit" class="btn btn-primary me-2">Submit</button>
						<a asp-action="Index" class="btn btn-light">Cancel</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


@section DeleteImages{
	<script>
		var btns = document.querySelectorAll(".cus-delete")
		for (let i = 0; i <= btns.length; i++) {
			btns[i].addEventListener("click", function () {
				btns[i].parentElement.remove()
			})
		}

	</script>
}